@import "compass/reset";
@import "compass/css3";

@font-face {
  font-family: 'vagrundschriftdligregular';
  src: url('../font/vagrundschriftd-lig-webfont.eot');
  src: url('../font/vagrundschriftd-lig-webfont.eot?#iefix') format('embedded-opentype'), url('../font/vagrundschriftd-lig-webfont.woff') format('woff'), url('../font/vagrundschriftd-lig-webfont.ttf') format('truetype'), url('../font/vagrundschriftd-lig-webfont.svg#vagrundschriftdligregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: 'VAG Rundschrift D Light', vagrundschriftdligregular, 'Helvetica Neue', Helvetiva, Arial, sans-serif;
  font-smooth: always;
  background-color: goldenrod;
}

.reveal .slides section {
  h1, h2 {
    line-height: 60px;
    
    &.large {
      line-height: 150px;
      font-size: 12em;
    }
  }
  h3 {
      line-height: 30px;
  }
  
  .cover-img {
  margin-top: 40px;
  img {
    max-width: 60%; 
  }

  }

  @media (max-width: 680px) {
  .cover-img {
  margin-top: 20px;
  img {
    max-width: 90%; 
  }

  }

  }
  
  

  .circle {
  	width: 50px;
  	height: 50px;
  	-moz-border-radius: 25px;
  	-webkit-border-radius: 25px;
  	border-radius: 25px;
  	text-align: center;
    display: inline-block;  
  	
  	span {
  	  display: inline-block;
  	  padding-top: 12px;
  	  color: white;
  	  font-size: 10px;
  	}
  }  
}


