@import "compass/reset";
@import "compass/css3";

@font-face {
  font-family: 'vagrundschriftdligregular';
  src: url('../font/vagrundschriftd-lig-webfont.eot');
  src: url('../font/vagrundschriftd-lig-webfont.eot?#iefix') format('embedded-opentype'), url('../font/vagrundschriftd-lig-webfont.woff') format('woff'), url('../font/vagrundschriftd-lig-webfont.ttf') format('truetype'), url('../font/vagrundschriftd-lig-webfont.svg#vagrundschriftdligregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'VAG Rundschrift D Light', vagrundschriftdligregular, 'Helvetica Neue', Helvetiva, Arial, sans-serif;
  font-smooth: always;
  background-color: goldenrod;
}

.logo {
  float: left;

  img {
    max-width: 25%;
    margin: 5px;
  }
}

@media (max-width: 680px) {
  .logo img {
    max-width: 10%;
  }
}

.disclaimer {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 5px;
  margin: 100px -40px 0 0;
  width: 300px;
  background-color: darkred;
  text-align: center;
  font-size: 20px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);

}

@media (max-width: 680px) {
  .disclaimer {
    margin: 30px -8px 0 0;
    font-size: 13px;
    width: 90px;
  }
}

.reveal .slides section {
  h1, h2 {
    line-height: 60px;

    &.large {
      line-height: 150px;
      font-size: 9em;
    }
  }

  h3 {
    line-height: 30px;
  }

  .main {
    margin-top: 40px;

    .assets {
      margin-top: 20px;
    }

    img.cover {
      max-width: 60%;
    }

    img.asset-medium {
      max-width: 30%;
    }

    img.asset {
      max-width: 10%;
      margin: 0 35px 0 35px;
    }
  }

  @media (max-width: 680px) {
    .main {
      margin-top: 20px;

      img.cover {
        max-width: 90%;
      }
      img.asset-medium {
        max-width: 60%;
      }

      img.asset {
        max-width: 25%;
        margin: 0 5px 0 5px;
      }
    }
  }

  .circle {
    width: 50px;
    height: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    display: inline-block;

    span {
      display: inline-block;
      padding-top: 12px;
      color: white;
      font-size: 10px;
    }
  }
}


